.github/**
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
**/biome.json
pnpm-lock.yaml
release-please-config.json
.release-please-manifest.json
renovate.json
